<!DOCTYPE html>
<html>
  <head>
    <title>Tumblr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script type="text/javascript">
      window.cameraLogo = "<%= image_url('camera.png') %>"
    </script>
    <script type="text/javascript">
      window.quoteLogo = "<%= image_url('quotation.png') %>"
    </script>
    <script type="text/javascript">
      window.theT = "<%= image_url('font.png') %>"
    </script>
    <script type="text/javascript">
      window.link = "<%= image_url('link-building.png') %>"
    </script>
    <script type="text/javascript">
      window.trash = "<%= image_url('trash.png') %>"
    </script>
    <script type="text/javascript">
      window.avtKiller = "<%= image_url('dead.png') %>"
    </script>
    <script type="text/javascript">
      window.portraitBackground = "<%= image_url('square.png') %>"
    </script>
    <script type="text/javascript">
      window.avtGlenn = "<%= image_url('avtGlenn.png') %>"
    </script>
    <script type="text/javascript">
      window.avtDog = "<%= image_url('avtDog.png') %>"
    </script>
    <script type="text/javascript">
      window.avtCows = "<%= image_url('avtCows.png') %>"
    </script>
    <script type="text/javascript">
      window.avtOctopus = "<%= image_url('avtOctopus.png') %>"
    </script>
    <script type="text/javascript">
      window.avtPizza = "<%= image_url('avtPizza.png') %>"
    </script>
    <script type="text/javascript">
      window.avtPrincess = "<%= image_url('avtPrincess.png') %>"
    </script>
    <script type="text/javascript">
      window.avtRobot = "<%= image_url('avtRobot.png') %>"
    </script>
    <script type="text/javascript">
      window.avtSword = "<%= image_url('avtSword.png') %>"
    </script>
    <script type="text/javascript">
      window.avtTurtle = "<%= image_url('avtTurtle.png') %>"
    </script>
    <script type="text/javascript">
      window.edit = "<%= image_url('edit.png') %>"
    </script>
      <script type="text/javascript">
      window.angelist = "<%= image_url('angelist.png') %>"
    </script>
        <script type="text/javascript">
      window.github = "<%= image_url('github.png') %>"
    </script>
        <script type="text/javascript">
      window.linkedIn = "<%= image_url('linkedin.png') %>"
    </script>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
